<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="./stylesheets/main.css" type="text/css">
	


	<style type="text/css">
  


	
	</style>
</head>

<body>



<footer>
hello this footer
</footer>

</body>
</html>