<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="./stylesheets/main.css" type="text/css">
	


	<style type="text/css">
  


	
	</style>
</head>

<body>
<h1>home page Profile</h1>

<header>
  <nav>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>

    <ul class="reg">
      <li><a href="/signup">Signup</a></li>
      <li><a href="/logout">Logout</a></li>
      
    </ul>

  </nav>
</header>

<section>
  <div class="container">
    <div class="first_content">
      <p>
        Home page profile
      </p>
    </div>
  </div>
</section>

<footer>

</footer>

</body>
</html>